{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Blog</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'styles.css' %}" />
	</head>

	<body>
		<header>
			<nav>
				<ul class="nav-contents">
					<li><a href="/">Home</a></li>
					<li><a href="#" class="open-new-post">New Post</a></li>
					<li><a href="#c" class="open-about-section">About</a></li>
				</ul>
			</nav>
			{% if user.is_authenticated %}
			<a href="{% url 'logout' %}"><button class="login">Logout</button></a>
			{% else %}
			<a href="{% url 'login' %}"><button class="login">Login</button></a>
			{% endif %}
		</header>

		<article class="body">
			{% for post in posts %}
			<div class="blog-post">
				<a href="post/{{post.id}}" class="link">{{post.title}} - {{post.poster}}</a>
				<p class="date">{{post.pub_date}}</p>
				<br />
				<p>{{post.contents}}</p>
			</div>
			{% endfor %}
		</article>

		<div class="post-mod hidden">
			<button class="close-modal close-post-modal">&times;</button>
			<form method="POST">
				{% csrf_token %} {% if user.is_authenticated %}
				<h3>Create new post</h3>
				<input type="text" placeholder="Title" name="title" />
				<input type="text" name="post-content" />
				<input type="submit" name="submit-post" />
				{% else %}
				<h2 id="index-nouser-post">To create a new post, <a href="{% url 'login' %}">login</a></h2>
				{% endif %}
			</form>
		</div>

		<div class="about-mod hidden">
			<button class="close-modal close-about-modal">&times;</button>
			<h3>About me</h3>
			<p>My contact info is ......</p>
			<p>I like .....</p>
		</div>
		<script src="{% static 'scripts.js' %}"></script>
	</body>
</html>
