{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Login</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'styles_login.css' %}" />
	</head>

	<body class="login-page">
		<header>
			<nav>
				<ul class="nav-contents">
					<li><a href="{% url 'home' %}">Home</a></li>
				</ul>
			</nav>
		</header>
		<br /><br /><br /><br />
		<article class="body">
			<div class="blog-post">
				<p>{{post.title}} - {{post.poster}}</p>
				<p class="date">{{post.pub_date}}</p>
				<br />
				<p>{{post.contents}}</p>
			</div>
			{% if user.username == post.poster %}
			<a href="{% url 'edit' post.id %}" class="link">Edit Post </a><a href="{% url 'delete' post.id %}" class="link">Delete Post</a>
			{% endif %}
		</article>

		<form method="POST" class="comment">
			<input type="text" placeholder="comment_title" name="title" />
			<input type="text" placeholder="comment_text" name="comment" />
			<input type="submit" />
		</form>

		<article>
			<p>comment contents</p>
		</article>
		<script src="{% static 'scripts.js' %}"></script>
	</body>
</html>
